.root-background
%div
  .filler
  .row.root-container
    %form{ method: 'get', action: '/venues/search' }
      .small-3.small-offset-3.columns
        %input{ type: 'text', placeholder: "I'm looking for...", name: 'search[venue]' }
      .small-2.columns
        %select
          %option{ name: "search[location]" }Location1
          %option{ name: "search[location]" }Location2
      .small-2.end.columns.search-btn-container
        %button{ class: 'success button', type: 'submit' }
          %i.fi-map
          Search
