.input-container {
}

.header-text {
  text-align: center;
}

.login-form {
  margin-top: 25px;
}

.button-container {
  margin-top: 10px;
}

#account-info {
  list-style-type: none;
  margin-top: 25px;
}

.info-container {
  margin-top: 20px;
  height: 250px;
}

.info-container h5 {
  text-align: center;
}

.nav-bar-primary {
  background-color: #99ff99;
}

.nav-bar-primary a {
  color: black;
  text-align: center;
}

.nav-bar-primary li {
  margin-right: 15px;
}
